@use '../base/variables' as v;

.footer-content {
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  h3 {
    color: v.$font-color-primary;
    font-weight: v.$font-weight-regular;
  }
}