*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-satoshi;
}

section {
  background-color: $color-primary;
  padding-inline: 1.5rem;
}

.btn {
  padding: 1rem 1rem;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}