@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap');

//FONT
$font-satoshi: 'Satoshi', sans-serif;

//FONT WEIGHT
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//COLORS
$color-primary: #272635;
$font-color-primary: #e8e9f3;
